/* Project Block */
.projectcontainer{
	display: block;
}
h1{color: #b342f5;}
h2{
	color: lightblue;
}
#guild-image{
	float: left;
	margin: 5px;
}
.title-container{
	display: inline;
	float: left;
}
.project-title{
	text-color: #181107;
}
.project-container{
	width: 900px;
}
.form-container{
	padding-right: 1px;
	display: table;
}
.table-row{
	display: table-row;
}
.table-title{
	font-weight: bold;
	padding: 5px 20px;
}
label, .label{
	display: table-cell;
	padding: 5px 20px;
	font-weight: bold;
}
.cell{
	width:105px;
}
.inst{
	display: inline-block;
	font-size: 14px;
	position: center-left;
	top: 50%;
}
.inst-title{
	color: #b342f5;
	width: 200px;
}
/* Content Block */
.clear{
	clear: both;
}
.content-container{
	display: block;
	text-align: left;
	margin-top: 20px;
	width: 900px;
}
.table-corner{
	width:100px;
	text-align: center;
}
.tt{
	text-align: center;
	width: 150px;
}
td{
	text-align: center;
}
.outputResult{
	display: table-cell;
}
.current{
	width:150px;
}
.result{
	color: green;
}
.target{
	color: red;
}
.foot-note{
	display: block;
	color:#b342f5;
}
