body{
	font-family:Arial,sans-serif;
	background-color:black;
	color:white;
}
/* Static Block */
.title-bar{
	background-color:black;
	text-align:center;
	width:900px;
}
a {text-decoration:none;}
a:active, a:visited, a:hover, #active {
	background-color: #ccc;
	text-decoration: underline;
}
.content-link{
	color: #cb8bf0;
}
h{
	color:white;
	font-size:36px;
}
.menu-bar{
	display:block;
	position:relative;
	padding:10px;
	margin: 20px 0;
	background-color:white;
	width:900px;
	font-size:24px;
}
.menu-item{
	display:inline-block;
	position:relative;
	padding:5px;
	color:black;
}
.foot-note{
	padding: 5px 0px;
}
